body {
  --def: #fff;
	--inv: #000;
}

.menu-wrapper {
  margin: 0;
  padding: 0;
  background: #000;
  list-style: none;
  transform: translate3d(0,100%,0);
  opacity: 1;
  color: #fff;
  transition: all 1s ease-out;
  overflow: hidden;
}

.path-2::after {
  content: '\d7';
  font-size: 40px;
  line-height: 0.1;
  width: 23.5px;
  color: #fff;
  opacity: 1;
  font-weight: 100;
  transition: all 1s;
}

.show {
  transform: translate3d(0,0,0);
}

.fade-element {
  opacity: 0.35;
  transition: all .4s;
  color: #ccc;
}

.active {
  color: red
}

.menu-item-link {
  text-decoration: none;
  color: #ccc;
}

.menu-wrapper {
  height: 100vh;
  overflow: hidden;
}

.menu-list {
  list-style: none;
  position: absolute;
  height: 4em;
  color: #FFF;
  font-family: Montserrat;
  font-size: 9em;
  font-weight: 600;
  line-height: 0.9em;
  left: 1.4em;
  padding: 0;
}

.menu-item {
  transition: all 0.3s ease-in-out;
  margin-top: 0.2em;
  cursor: pointer;
  text-decoration: none;
}

ul.menu-list:hover {
  color: rgba(122, 122, 122, 0.4);
}

li.menu-item:hover {
  color: #fff;
  transform: scale(1)
  translateX(0.4em);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.menu-item-link {
  transition: all 0.3s ease-in-out;
  margin-top: 0.2em;
  cursor: pointer;
  color: #ccc;
  text-decoration: none;
}

.menu-item-link:hover {
  color: #fff;
  transform: scale(1) translateX(0.4em);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.menu-list:hover li a {
  color: rgba(92, 92, 92, 0.308);
}

.menu-list li a:hover {
  color: rgb(255, 255, 255);
}

.social-section {
  display: inline-flex;
  z-index: 100;
}

.social-icons {
  list-style: none;
  display: inline-flex;
  transition: all 1s;
}

.social-icon {
  padding: 0;
  margin: 0;
  margin-right: 0.1em;
  margin-top: -0.4em;
  position: relative;
  transition: all 1s;
}

.social-icon img {
  transition: all 0.4s ease-in-out;
  height: 23.24px;	
  width: auto;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
  }
}

.left-name-menu {
  position: absolute;
  top: 35%;
  left: 20px;
	height: 240.5px;
	width: 46px;
  transform: rotate(180deg);
}

.left-name-menu-text {
	height: 240.5px;
	width: 32px;
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  cursor: default;
  user-select: none;
}

.left-name-email {
  transform: rotate(180deg);
  top: 75%;
  left: 20px;
  position: absolute;
	width: 32px;
	color: #fff;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 32px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  display: none;
}

.button-text-menu {
	height: 0.9375em;
	width: 8.5em;
	color: #fff;
	font-family: Montserrat;
	font-size: 0.75em;
	font-weight: 600;
  line-height: 0.9375em;
  text-transform: uppercase;
  padding: 1.23125em;
  transition: all 1s;
  &:hover {
    color: #000;
    font-weight: 900;
    cursor: pointer;
  }
}

.nav-button {
  right: 12.8%;
  top: 4.17%;
  height: 2.55em;	
  width: 6.3em;
  position: absolute;
}

.button-wrapper {
  box-sizing: border-box;
  height: 2.55em;	
  width: 6.3em;
  border: 1px solid #fff;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.button-wrapper:before, .button-wrapper:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.button-wrapper:hover {
	color: #000;
}

.button-wrapper:hover:before {
	transition-delay: 0s;
}

.button-wrapper:hover:after {
	background: #fff;
	transition-delay: .3s;
}

// ---------------------------->

.button-wrapper:before, 
.button-wrapper:after {
	left: 0;
	height: 0;
	width: 100%;
}

.button-wrapper:after {
	bottom: 0;
	height: 0;
}

.button-wrapper:hover:before,
.button-wrapper:hover:after {
	height: 100%;
}

.button-wrapper::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-activator {
  position: absolute;
  top: 5.31%;
  right: 6.65%;
	height: 1.04%;
  width: 0.92%;
  cursor: pointer;
  border-color: #fff;
  color: #FFF;
  font-size: 1.7em;
  line-height: 0.5;
}

@media only screen and (min-width: 1441px) {
  .menu-list {
    font-size: 10em;
    left: 2.6em;
    top: 2.5em;
  }
  .social-section {
    display: flex;
    margin-top: 0.2em;
  }
  .social-icons {
    padding-left: 0.1em;
  }
  .social-icon {
    margin-right: 0.2em;
  }
  .social-icon img {
    height: 0.3em;
  }
  .left-name-menu {
    top: 44%;
  }
  .left-name-menu-text {
    height: 290.5px;
    width: 32px;
    font-size: 34px;
    font-weight: 400;
  }
  .button-text {
    font-size: 1.6em;
  }
  .button-wrapper {
    height: 5.55em;
    width: 13.5em;
  }
  .path-2 {
    margin-top: 0.5em;
  }
  .path-2::after {
    font-size: 4em;
  }
}

@media only screen and (max-width: 1441px) {
  .menu-list {
    font-size: 6em;
    left: 1.6em;
  }
  .social-section {
    display: flex;
    margin-top: 0.2em;
  }
  .social-icons {
    padding-left: 0.1em;
  }
  .social-icon {
    margin-right: 0.2em;
  }
  .left-name-menu-text {
    height: 240.5px;
    font-size: 18px;
    font-weight: 600;
  }
  .left-name-email {
    top: 70%;
    left: 14px;
    font-size: 12px;
    font-weight: 100;
  }
}

@media only screen and (max-width: 1281px) {
  .menu-list {
    font-size: 7em;
    left: 1.6em;
    top: 1em;
  }
}


@media only screen and (max-width: 769px) {
  .menu-list {
    font-size: 6em;
    left: 1.6em;
    top: 2em;
  }
}

@media only screen and (max-width: 480px) {
  .menu-list {
    font-size: 3.5em;
    left: 1.4em;
    top: 1.6em;
  }
  .left-name-menu-text {
    font-size: 18px;
    line-height: 1;
    left: 0.1em;
  }
  .left-name-menu {
    top: 35%;
    left: 3px;
  }
  .left-name-email {
    top: 1px;
    left: 3px;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    font-size: 13px;
  }
  .nav-button {
    right: 33.5%;
    bottom: 3%;
    top: auto;
  }
  .nav-activator {
    top: 4.31%;
    right: 12.65%;
    font-size: 2.7em;
  }
  .social-icons {
    padding: auto;
    margin-top: 0.1em;
  }
  .social-icon {
    margin-right: 0.2em;
  }
}