body {
  width: 2560px;
  height: 1440px;
}

// Right top component

.group {
  top: 76.5px;
  left: 2412px;
	height: 15px;
  width: 23.5px;
  position: absolute;
  cursor: pointer;
}

.path-1 {
	box-sizing: border-box;
	height: 15px;
	width: 23.5px;
	border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: all 1s;
}
.path-2:after {
  content: '\d7';
}

.path-2 {
  font-size: 40px;
  line-height: 0.1;
	height: 15px;
  width: 23.5px;
  color: #000;
}


.group-1 {
  left: 2172px;
  top: 60px;
  height: 48px;
  width: 132px;
  position: absolute;
}

.rectangle {
  box-sizing: border-box;
  height: 48px;
  width: 132px;
  border: 1px solid #000;
  transition: all 1s;
  &:hover {
    transition: all 1s;
    color: #fff;
    background: #000;
    cursor: pointer;
  }
}

.start-project {
	height: 15px;
	width: 99px;
	color: #000;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  padding: 16.5px;
  transition: all 1s;
  &:hover {
    transition: all .5s;
    color: #fff;
    cursor: pointer;
  }
}

// Left name component

.left-name {
  position: absolute;
  top: 599.75px;
  left: 38px;
	height: 240.5px;
	width: 46px;
  transform: rotate(180deg);
}

.left-name-text {
	height: 240.5px;
	width: 32px;
	color: #000;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: 700;
	line-height: 32px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  cursor: default;
}


// Center main text

.header-text {
  position: absolute;
  top: 340px;
  left: 841px;
	height: 759px;
	width: 850px;
	color: #000;
	font-family: Montserrat;
	font-size: 147px;
	font-weight: 700;
  line-height: 179px;
  cursor: default;
}















