body {
  width: 2560px;
  height: 1440px;
}

// Right top component

.group {
  top: 76.5px;
  left: 2412px;
	height: 15px;
  width: 23.5px;
  position: absolute;
}

.path-1 {
	box-sizing: border-box;
	height: 15px;
	width: 23.5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.group-1 {	
  left: 2172px;
  top: 60px;
  height: 48px;	
  width: 132px;
  position: absolute;
}

.rectangle {	
  box-sizing: border-box;	
  height: 48px;	
  width: 132px;	
  border: 1px solid #000;
}

.start-project {
	height: 15px;
	width: 99px;
	color: #000;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  padding: 16.5px;
}

// Left name component

.left-name {
  position: absolute;
  top: 599.75px;
  left: 38px;
	height: 240.5px;
	width: 46px;
  transform: rotate(180deg);
}

.left-name-text {
	height: 240.5px;
	width: 32px;
	color: #000;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: 700;
	line-height: 32px;
  text-align: center;
  writing-mode: vertical-rl;
  margin: auto;
  cursor: default;
}