
@media only screen and (min-width: 1441px) {
  .work-one {
    font-size: 1.2em;
  }
  .work-experience {
    margin-bottom: 5em;
  }
  .content-main {
    height: 100vh;
  }
  .contact-main {
    height: 100vh;
  }
}

@media only screen and (max-width: 1441px) {
  
}

@media only screen and (max-width: 1281px) {
  
}


@media only screen and (max-width: 769px) {
  
}

@media only screen and (max-width: 480px) {
  
}