@media only screen and (min-width: 1441px) {
  .work-one {
    font-size: 1.2em;
  }
  .work-experience {
    margin-bottom: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flow-root;
  }
  .content-main {
    min-height: 100vh;
  }
  .work-one ul {
    list-style: none;
    padding: 0;
  }
  .work-one {
    float: left;
    display: block;
    padding: 0.5em;
    font-size: 1.2em;
    width: 43%;
    height: 420px;
  }
  .education-main {
    padding-bottom: 4em;
  }
  .education-institute {
    display: block;
    width: 100%;
  }
  .education-specialization {
    display: inline-block;
  }
  .education-specialization:nth-child(2) {
    display: inline-block;
    padding-right: 2em;
  }
}

@media only screen and (max-width: 1441px) {
}

@media only screen and (max-width: 1281px) {
  .work-one ul {
    list-style: none;
    padding: 0;
  }
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 480px) {
}
