.about-main {
  overflow: auto;
}

* {
  padding: 0;
}

.content-wrapper {
  max-width: 1024px;
  width: 60%;
  margin: 0 auto;
  padding: 1em 0;
  top: 0;
}

.content-header {
  padding-top: 4em;
}

.about-page {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  line-height: 1.1em;
}

.about-main-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  left: 46%;
  border-bottom: 2px solid black;
}

.content-header > p {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  padding-top: 1em;
  line-height: 1.7;
}

.content-header > p:nth-child(1) {
  padding-top: 3em;
}
.about-intro {
  height: 94vh;
  background-color: #e0e0e0;
}

.content-main {
  background-color: #e0e0e0;
  width: 100%;
  height: auto;
}

.header-text-about {
  top: 1.4em;
  left: 25.85%;
  width: 54.2%;
  position: relative;
  font-size: 4em;
  font-weight: 900;
  line-height: 1.2;
  font-family: Montserrat;
}

.office-image {
  background-image: url("./images/about-image.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: repeat;
  background-position-y: 37%;
}

.go-menu {
  animation: fadein 0.7s ease-in;
  background-color: transparent;
}

.go-menu::after {
  content: "\d7";
  font-size: 40px;
  line-height: 0.1;
  width: 23.5px;
  color: #000;
  opacity: 1;
  font-weight: 100;
  transition: all 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-activator-about {
  position: absolute;
  top: 5.31%;
  right: 6.65%;
  height: 1.04%;
  width: 0.92%;
  cursor: pointer;
  color: #fff;
  font-size: 1.7em;
  line-height: 0.5;
}

.nav-activator-about > button {
  border: 0;
  outline: 0;
  &:hover {
    cursor: pointer;
  }
}

.work-experience {
  display: inline-block;
  background-color: #e0e0e0;
}

.content-wrapper h2 {
  margin-top: 2.5em;
  margin-bottom: 1.7em;
}

.work-one,
.work-two,
.work-three {
  width: 45%;
  float: left;
  margin-right: 2em;
}
.work-one > h4 > span,
.work-two > h4 > span,
.work-three > h4 > span {
  font-weight: 100;
  font-style: italic;
}

.work-one > ul,
.work-two > ul,
.work-three > ul {
  list-style: none;
  padding: 0 2em;
}
.footer-main {
  width: 100%;
  background-color: #000;
}

.footer-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #000;
  color: #ccc;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.menu-footer > ul {
  list-style: none;
  &:hover {
    cursor: pointer;
  }
}

.footer-address > span {
  display: block;
}

.footer-address > span:last-child {
  text-transform: lowercase;
}

.footer-social > span {
  display: block;
  margin-top: 0.4em;
  &:hover {
    cursor: pointer;
  }
}

.menu-footer > ul > li {
  margin-top: 0.3em;
}

.footer-links {
  padding: 3em 0;
  margin: 0 1em;
}

.footer-designer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

@media only screen and (max-width: 3840px) {
  .header-text-about {
    top: 22%;
    left: 32.85%;
    font-size: 6em;
    line-height: 1.8;
  }
  .about-page {
    font-size: 7em;
    padding-top: 2em;
  }
  .go-menu::after {
    content: "\D7";
    font-size: 5em;
  }
}

@media only screen and (max-width: 2160px) {
  .about-page {
    font-size: 4em;
    padding-top: 2em;
  }
  .go-menu::after {
    content: "\D7";
    font-size: 4.5em;
    width: 2em;
  }
  .header-text-about {
    top: 14%;
    left: 32.85%;
    width: 37.2%;
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: 400;
  }
  .about-items-wrapper,
  .about-content-wrapper {
    max-width: 1920px;
  }
  .item-about-image-holder {
    height: 11em;
    max-width: 24em;
  }
  .icons-font {
    line-height: 2.3;
    font-size: 4.6em;
  }
  .contact-title {
    font-size: 2.6em;
  }
}

@media only screen and (max-width: 1440px) {
  .about-page {
    font-size: 3.5em;
  }
  .go-menu::after {
    font-size: 4em;
  }
  .header-text-about {
    top: 14%;
    left: 32.85%;
    width: 37.2%;
    font-size: 2.7em;
    line-height: 1.5;
  }
}

@media only screen and (max-height: 570px) {
  .header-text-about {
    top: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .about-page {
    margin-bottom: -2em;
    font-size: 2em;
  }
  .header-text-about {
    left: 23%;
    font-size: 1.3em;
    width: 60%;
    margin-top: 4em;
    line-height: 2;
  }
  .about-main-name::after {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    left: 38%;
    border-bottom: 2px solid black;
  }
  .item-about-image-holder {
    line-height: 4.2em;
    height: 2em;
    clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 25% 50%);
    background-color: rgb(60, 184, 255);
    max-width: 220px;
    margin: 0 auto;
  }
  .about-items-wrapper {
    display: contents !important;
  }
  .item-about {
    margin-top: 1em;
    width: 49% !important;
    display: inline-grid !important;
    padding: 0.1em !important;
  }
  .item-about-message {
    font-size: 1.2em !important;
    color: #6d6363;
  }
  .about-content-first {
    padding-top: 2em;
    width: 95% !important;
  }
  .about-content-second {
    padding-top: 2em;
    width: 95% !important;
  }
  .about-content-wrapper {
    display: block !important;
  }
  .about-content-first-description {
    font-size: 1.2em;
  }
  .skill-name {
    font-weight: 600;
  }
  .content-wrapper {
    width: 90%;
  }
  .work-one,
  .work-two,
  .work-three {
    width: 100%;
    font-size: 1.3em;
  }
  .nav-activator-about {
    top: 45.31px;
    right: 9.65%;
  }
  .footer-wrapper {
    width: 100%;
    margin: 0 auto;
    font-size: 1.3em;
  }
  .footer-links {
    display: block;
  }
  .footer-designer {
    text-align: center;
    display: block;
  }
  .footer-name {
    margin-bottom: 1em;
  }
}

// Restyle for about page

.about-items-wrapper {
  margin: 0 auto;
  padding: 1em;
  display: flex;
}

.item-about {
  width: 24%;
  display: inline-block;
  padding: 1em;
}

.item-about > span {
  display: block;
  text-align: center;
  width: 100%;
}

.icons-font {
  color: white;
  font-size: 1.6em;
}

.item-about-image-holder {
  line-height: 5.3em;
  height: 5em;
  clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 25% 50%);
  background-color: rgb(60, 184, 255);
  max-width: 180px;
  margin: 0 auto;
}

.item-abut-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.item-about-message {
  font-size: 0.9em;
  color: #6d6363;
}

// lower section style

.about-content-wrapper {
  padding: 1em;
  margin: 0 auto;
  display: flex;
}
.about-content-first {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.about-content-first-img {
  width: 250px;
  clip-path: circle(49.8% at 50% 50%);
  margin: 0 auto;
}
.about-content-first-title {
  font-size: 2.2em;
  font-weight: bolder;
}
.about-content-first-description span {
  color: rgb(34, 81, 235);
  font-weight: 600;
}

.about-content-second {
  width: 45%;
  margin: 0 auto;
}

.skill-name {
  font-weight: 600;
}
