// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets
@include mediaMd {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  .lg-heading {
    font-size: 4em !important;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    div {
      padding: 0.3rem;
      width: 90%;
      font-size: 1.1rem;
      @include easeOut;
      &:hover:nth-child(1) {
        padding-top: 0.1rem;
        // padding-left: 0.3rem;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
      }

      .text-secondary {
        font-weight: 600;
      }
    }
  }
}
