@import "./config.scss";

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 3), 0.5);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.work-main {
  background-color: rgb(105, 105, 105);
}

.work-header {
  padding: 0 2em;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 45px);
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// My Projects Page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.9rem;
  max-width: 90%;
  margin: 0 auto;
}

.projects > .item {
  display: grid;
  &:hover {
    box-shadow: 5px 7px #292c08;
    cursor: pointer;
  }
}

.project-img {
  height: 250px;
  width: 98%;
  border: 3px #fff solid;

  &:hover {
    opacity: 0.6;
    border-color: $secondary-color;
    @include easeOut;
  }
}

// Buttons styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.2rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
  width: 100%;
  text-align: left;
  display: flex;
}

#main-footer {
  text-align: center;
  padding: 0.6rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 45px;
}

.footer-main {
  margin-top: 2em;
}

@import "./mobile.scss";

@media only screen and (min-width: 1441px) {
  .content-work {
    padding-top: 7em;
    max-width: 1640px;
    margin: auto;
    height: 100%;
    min-height: calc(100vh - 20vh);
  }
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.3em;
  }
}
